
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


body{
	margin: 0;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.form-control{
	font-family: 'Montserrat', sans-serif;
}
*{
	margin: 0;
	padding: 0;
	outline: none;
}
.logo-circle{
	height: 26px;
	width: 26px;
	border: 4px solid #ffffff;
	display: inline-block;
	margin-bottom: -2px;
	border-radius:50%;
	position: relative;
}
.logo-circle::before{
	content: '';
	height: 8px;
	width: 8px;
	background-color: #ffffff;
	 position: absolute;
	 border-radius: 50%;
	 left: 50%;
	 top: 50%;
	 margin-left: -4px;
	 margin-top: -4px;
	}
a{
	text-decoration: none!important;
}
.header{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header .navbar.navbar-light .navbar-brand{
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
} 
.header .navbar{
	padding: 0;
}
.header .navbar #collapsibleNavbar .nav-item .nav-link{
	color: #ffffff;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 600;
	padding:20px  15px 20px ;
	line-height: 26px;
	opacity: 0.6;
}
.header .navbar #collapsibleNavbar .nav-item .nav-link.active{
	opacity: 1;
}

.home-section{
	 position: relative;
	 z-index: 1;
	padding: 250px 0 200px;
	overflow: hidden;
}
.home-section::before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	background-image:url(../images/shape-bg.png);
	background-size: cover;
	background-position: bottom ;
	background-repeat: no-repeat;
	z-index: -1;
	height: 112px;
}
.home-section .home-content h1{
	font-size: 55px;
	color: #ffffff;
	font-weight: 700;
	line-height: 60px;
	margin: 0;
}
.home-section .home-content p{
	color: #ffffff;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 40px;
	line-height: 28px;
	font-weight: 400;
}
.home-section .home-content .btn{}
.mybtn2,
.mybtn1{
	
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 50px;
	padding: 12px 36px;
	border: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.mybtn1{
	background-color: #ffffff;
}
.mybtn2{
	color: #ffffff;
}
.mybtn2:hover{
	color: #ffffff;
}
.mybtn2:focus,
.mybtn1:focus{
	box-shadow: none;
}
.mybtn2::before,
.mybtn1::before{
content: '';
position: absolute;
left: 0;
top: 0;
width: 0;
height: 100%;
background-color: rgba(0, 0, 0, 0.1);
z-index: -1;
transition: all 0.3s ease;
}
.mybtn2:hover::before,
.mybtn1:hover::before{
	width: 100%;
}
 
.home-section .home-img img{
	max-width: 400px;
	width: 100%;
	position: absolute;
	left: 150px;
	top: -50px;
	animation: productani1 5s linear infinite;
}
@-webkit-keyframes productani1{
	0%,100%{
		transform: translateY(15px);
	}
	50%{
		transform: translateY(-15px);
	}
}
@keyframes productani1{
	0%,100%{
		transform: translateY(15px);
	}
	50%{
		transform: translateY(-15px);
	}
}

.home-section .bg-shapes div{
	position: absolute;
	opacity: 0.1;
}

.home-section .bg-shapes div:nth-child(1){
height: 100px;
width:100px;
background-color: #ffffff;
top :20% ;
left: 20%;
border-radius: 50%;
animation:shape1 5s linear infinite; 
}
.home-section .bg-shapes div:nth-child(2){
height: 80px;
width:80px;
background-color: transparent;
top :60% ;
left: 60%;
border-radius: 50%;
border: 5px solid #ffffff;
border-bottom: 5px solid transparent;
animation:shape2 7s linear infinite; 
}

.home-section .bg-shapes div:nth-child(3){
height: 60px;
width:60px;
background-color: transparent;
top :10% ;
left: 90%;
border-radius: 50%;
border: 5px solid #ffffff;
border-left: 5px solid transparent;

border-bottom: 5px solid transparent;
animation:shape3 7s linear infinite; 
}
.home-section .bg-shapes div:nth-child(4){
height: 200px;
width:200px;
background-color:#ffffff;
top :40% ;
left: calc(100% - 100px);
border-radius: 50%; 
animation:shape4 10s linear infinite; 
}
.home-section .bg-shapes div:nth-child(5){
height: 100px;
width:100px;
background-color:transparent;
top :40% ;
left: calc(0% - 50px);
 border: 5px solid #ffffff; 
animation:shape2 10s linear infinite; 
}
@-webkit-keyframes shape1{
	0%,100%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(50px);
	}
}
@keyframes shape1{
	0%,100%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(50px);
	}
}
@-webkit-keyframes shape2{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes shape2{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes shape3{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes shape3{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes shape4{
	0%,100%{
		transform: scale(0.5);
	}
	50%{
		transform: scale(1);
	}
}

@keyframes shape4{
	0%,100%{
		transform: scale(0.5);
	}
	50%{
		transform: scale(1);
	}
}

.about-section{
	background-color: #ffffff;
	padding: 80px 0 80px;
}	
.about-section .about-img{
	margin: auto;
}
.about-section .about-img img{
	max-width: 350px;
	width: 100%;
}
.section-title .title{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 0 15px;
	position: relative;
	padding: 5px 10px;
	z-index: 1;
}

.section-title .title::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	z-index: -1;
	opacity: 0.1;
	background-color: black;

}
.section-title {
	margin-bottom: 60px;
	text-align: center;
}

.section-title .subtitle{
	font-size: 30px;
	line-height: 38px;
	color: #222222;
	font-weight: 700;
	margin: 0;
}

.about-section .section-title{
	text-align: left; 
} 

.about-section .about-content p{
font-size: 16px;
line-height: 26px;
color: #555555;
font-weight: 400;
}
.about-section .about-content ul{
	display: block;
	margin: 30px 0 0;
}
.about-section .about-content ul li{
font-size: 16px;
line-height: 26px;
color: #555555;
font-weight: 400;
margin-bottom: 15px;
position: relative;
padding-left: 32px;
}
.about-section .about-content ul li i{
	height: 25px;
	width: 25px;
	display: inline-block;	 
	font-size: 16px;
	text-align: center;
	line-height: 26px;
	position: absolute;
	left: 0;
	top: 0;
}

.bg-light{
	background-color: #f5f5ff;
}

.features-section{
padding: 80px 0 50px;	
}
.features-section .features-item{
	box-shadow: 0 0 10px #dddde3;
	padding: 40px 30px;
	margin-bottom: 30px;
	background-color: #ffffff;
	border-radius: 5px;
	text-align: center;
	transition: all 0.5s ease;
}
.features-section .features-item:hover{
	margin-top: -10px;

}
.features-section .features-item .icon{
	margin-bottom: 25px;
}
.features-section .features-item .icon i{
	font-size: 40px;
	display: inline-block;
	transition: all 0.5s ease;
}
.features-section .features-item h3{
	font-size: 22px;
	font-weight: 600;
	margin: 0 0 15px;
	line-height: 30px;
	color: #222222;
	transition: all 0.5s ease;
}
.features-section .features-item p{
	font-size: 16px;
	line-height: 26px;
	margin: 0;
	color: #555555;
	transition: all 0.5s ease;
	font-weight: 400;
}

.features-section .features-item:hover .icon i,
.features-section .features-item:hover h3,
.features-section .features-item:hover p{
	color: #ffffff;
}

.product-section{
	padding: 80px 0 80px;
}

.product-section .product-item{
box-shadow: 0 0 10px #dddde3;
margin: 15px 0;
}
.product-section   .product-img{
	border-bottom: 1px solid #eeeeee;
	position: relative;
}
.product-section   .product-img .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.6);
	transition: all 0.5s ease;
	opacity: 0;
	z-index: 1;
}
.product-section  .product-item:hover .product-img .overlay{
	opacity: 1;
}
.product-section   .product-img .overlay .btn{
	margin: auto;
	transform: translateY(100px);
	transition: all 0.5s ease;
}
.product-section .product-img img{
	width: 100%;
	display: block;
}
.product-section  .product-item:hover .product-img .overlay .btn{
	transform: translateY(0px);
}
.product-section .product-content{
	padding: 0 30px;
	text-align: center;
}

.product-section .product-content .product-price{
 margin: 15px 0 5px;
}
.product-section .product-content .product-price .new-price{
font-size: 16px;
font-weight: 700;
display: inline-block;
margin: 0 5px;
}
.product-section .product-content .product-price .old-price{
	color:#959595;
	font-size: 18px;
	display: inline-block;
	text-decoration: line-through;
	font-weight: 400;
}
.product-section .product-content .product-name{
	font-size: 15px;
	font-weight: 600;
	color:#222222 ;
	line-height: 26px;
	margin: 0;
	padding-bottom:  20px;
}
 
.product-item .mobile-img{
    width: 216px;
    height: 254px;
    position: relative;
    left: 20px;
    /* top: 14px; */
}
 
.product-section .owl-carousel .owl-nav {
	text-align: center;
	margin-top: 40px;
}
.product-section .owl-carousel .owl-nav button.owl-next:focus,
 .product-section .owl-carousel .owl-nav button.owl-prev:focus{
 	 
 	outline: none;
 }
.product-section .owl-carousel .owl-nav button.owl-next,
 .product-section .owl-carousel .owl-nav button.owl-prev{
height: 40px;
width: 40px;
display: inline-block;
margin: 0 10px;
border-radius: 50%;
color: #ffffff;
font-weight: 500;
overflow: hidden;
 }

.product-section .owl-carousel .owl-nav button.owl-next span,
 .product-section .owl-carousel .owl-nav button.owl-prev span{
font-size: 40px;
margin-top: -13px;
display: block;
 }
.testimonial-section::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.85;
}
.testimonial-section{
	padding: 80px 0 80px;
background-image: url("../images/bg-01.jpg");
background-position: center;
 background-repeat: no-repeat;
background-attachment: fixed;
position: relative;
z-index: 1;
}

.testimonial-section .section-title .title,
.testimonial-section .section-title .subtitle{
	color: #ffffff;
}

.testimonial-section .section-title .title::before{
	background-color: #ffffff;
}

.testimonial-section .tstti-item{
	padding: 30px;
	background-color: #ffffff;
	border-radius: 5px;
}

.testimonial-section .testi-comment p{
font-size: 16px;
line-height: 26px;
color: #555555;
font-weight: 400;
margin: 0 0 10px;
font-style: italic; 
}
.testimonial-section .testi-comment p .fa-quote-left{
margin-right: 5px;

}

.testimonial-section .testi-comment p .fa-quote-right{
margin-left: 5px;
}
.testimonial-section .testi-comment .stars li{
	display: inline-block;
	margin: 0 1px;
}

.testimonial-section .testi-comment .stars li i{
	font-size: 13px;
	color: #ff9800;
}


.testimonial-section .testi-comment .stars{
	margin: 0 0 20px;
}
.testimonial-section .client-info{
	position: relative;
	padding-left: 80px;
	padding-top: 5px;
	min-height: 60px;
}
.testimonial-section .client-info img{
	height: 60px;
	width: 60px;
	border: 2px solid transparent;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;


}

.testimonial-section .client-info h5{
	font-size: 16px;
	font-weight: 600;
	 margin: 0 0 2px;
	 line-height: 26px;
}


.testimonial-section .client-info p{
	font-size: 16px;
	font-weight: 400;
	color: #555555;
	line-height: 26px;
	color: #555555;
	margin: 0;
}

.testimonial-section .owl-carousel .owl-nav {
	text-align: center;
	margin-top: 40px;
}
.testimonial-section .owl-carousel .owl-nav button.owl-next:focus,
 .testimonial-section .owl-carousel .owl-nav button.owl-prev:focus{
 	 
 	outline: none;
 }
.testimonial-section .owl-carousel .owl-nav button.owl-next,
 .testimonial-section .owl-carousel .owl-nav button.owl-prev{
height: 40px;
width: 40px;
display: inline-block;
margin: 0 10px;
border-radius: 50%; 
font-weight: 500;
overflow: hidden;
background-color: #ffffff;
 }
.testimonial-section .owl-carousel .owl-nav button.owl-next:hover,
 .testimonial-section .owl-carousel .owl-nav button.owl-prev:hover{
 	color: #ffffff;
 }
.testimonial-section .owl-carousel .owl-nav button.owl-next span,
 .testimonial-section .owl-carousel .owl-nav button.owl-prev span{
font-size: 40px;
margin-top: -13px;
display: block;
 } 
.faq-section{
	padding: 80px 0 40px;
}


.faq-section .faq-item{
	margin-bottom: 40px ;
}

.faq-section .faq-item h4{
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	color: #222222;
	margin: 0 0 10px;
}


.faq-section .faq-item p{
	font-size: 16px;
	line-height: 26px;
	color: #555555;
	font-weight: 400;
	margin: 0;
}

.faq-section .support-text{
	font-size: 16px;
	font-weight: 600;
	color: #222222;
	line-height: 26px;
	margin: 15px 0 0 ;
}


.newsletter-section{
	 background-image:url("../images/bg-02.jpg"); 
	 background-repeat: no-repeat;
	 background-position: center;
	 background-attachment: fixed;
	 padding: 80px 0 80px;
	 position: relative;
	 z-index: 1;
}


.newsletter-section::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.85;
	height:100%;
	width: 100%;
	z-index: -1;
}
.newsletter-section .section-title .title,
.newsletter-section .section-title .subtitle{
	color: #ffffff;
}

.newsletter-section .section-title .title::before{
	background-color: #ffffff;
}


.newsletter-section .newsletter-form .form-group{
margin-bottom: 0;
}

.newsletter-section .newsletter-form .form-control{
	height: 60px;
	border-radius: 60px;
	outline: none;
	padding: 0 185px 0 30px;
	border: none; 
	font-weight: 400;
	color: #555555;
}

.newsletter-section .newsletter-form .form-control:focus{
	box-shadow: none;
}
.newsletter-section .newsletter-form {
	position: relative;
}
.newsletter-section .newsletter-form .btn{
height: 48px;
position: absolute;
top: 6px;
right: 6px;

}

 

.contact-section{
	padding: 80px 0 80px;
	background-color: #ffffff;
}
.contact-section .contact-form .form-group{
	margin-bottom: 20px;
}
.contact-section .contact-form .form-control{
	height: 50px;
	border: none;
	color:#555555;
	border-bottom: 2px solid #d9d9d9;
	border-radius: 0px;
	transition: all 0.5s ease;
}
.contact-section .contact-form textarea.form-control{
	height: 120px;
}
.contact-section .contact-form .form-control:focus{
	box-shadow: none;
}

.contact-section .contact-item {
	position: relative;
	padding-left: 65px;
	margin-bottom: 35px;
}
.contact-section .contact-item .icon{
	height: 50px;
	width: 50px;
	text-align: center;
	border-radius: 50%;
	background-color: #f5f5ff;
	position: absolute;
	left: 0;
	top: 0;

}

.contact-section .contact-item .icon i{
line-height: 50px;
font-size: 20px;
}

.contact-section .contact-item h5{
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	margin: 0 0 2px;
}

.contact-section .contact-item p{
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #555555;
	margin: 0;
}

.footer-section{
padding-top: 80px; 
text-align: center;
}

.footer-section .footer-logo a{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	display: block;
margin: 0 0 15px;
}

.footer-section .footer-text p{
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #eeeeee;
	margin: 0 0 25px;
}
.footer-section .footer-social-links{
	margin-bottom: 80px;
}

.footer-section .footer-social-links a{
display: inline-block;
text-align: center;
margin: 0 4px;
}

.footer-section .footer-social-links a i{
height: 40px;
width: 40px;
line-height: 38px;
border: 1px solid #ffffff;
display: block;
color: #ffffff;
border-radius: 50%;
transition: all 0.5s ease;
}
.footer-section .footer-social-links a:hover i{
	background-color: #ffffff;
}


.footer-section .copyright{
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 20px 15px;
}

.footer-section .copyright p{
margin: 0;
font-size: 16px;
font-weight: 400;
color: #eeeeee;
line-height: 26px;
}

.preloader{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0 ;
	background-color: #222222;
	z-index: 1100;
	display: flex;
	align-items: center;
	justify-content: center;
}

.preloader .loader{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 5px solid #ffffff;
	border-right: 5px solid transparent;
	animation: placeloader 1s linear infinite;

}
@-webkit-keyframes placeloader{
0%{
	transform:rotate(0deg) ;
}
100%{
	transform:rotate(360deg) ;
}

}

@keyframes placeloader{
0%{
	transform:rotate(0deg) ;
}
100%{
	transform:rotate(360deg) ;
}

}







